{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'user/css/list_users.css' %}"> <!-- Link the CSS file -->
<div class="container">
    <h1>All Users</h1>
    <div class="user-list">
        {% for user in users %}
        <div class="user-card">
            <img src="{{ user.profile.image.url }}" alt="{{ user.username }}" class="profile-pic">
            <h3><a href="{% url 'profile' user.username %}">{{ user.username }}</a></h3>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
