/* Resetting styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  background-color: #1c1f24;
  color: #e1e4e8;
  font-family: Arial, sans-serif;
}

/* Navbar styles */
.navbar {
  background-color: #24292e;
  color: #fff;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.navbar-brand {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.navbar-search {
  display: flex;
  align-items: center;
  background-color: #30363d;
  border-radius: 5px;
}

.navbar-search input {
  padding: 10px;
  border: none;
  background-color: transparent;
  color: #fff;
}

.navbar-search button {
  background-color: #30363d;
  border: none;
  padding: 10px;
  color: #fff;
  cursor: pointer;
}

.navbar-nav {
  display: flex;
  list-style: none;
}

.navbar-nav li {
  margin-left: 20px;
}

.navbar-nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}
/* CSS for profile pic in navbar */
.profile-pic {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
}
/* Sidebar styles */
.sidebar {
  background-color: #24292e;
  color: #fff;
  padding: 20px;
  width: 220px;
  position: fixed;
  top: 60px; /* Adjusted for navbar height */
  bottom: 0;
  overflow-y: auto;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  margin-bottom: 15px;
}

.sidebar a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px;
}

.sidebar i {
  margin-right: 10px;
}

.sidebar a:hover {
  background-color: #30363d;
}

/* Main content styling */
.main-content {
  margin-left: 240px; /* Adjusted for sidebar width */
  padding-top: 80px; /* Adjusted for navbar height */
  padding: 20px;
  width: calc(100% - 240px);
}




/* Ensure the body and html take up the full height */
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.wrapper {
  flex: 1; /* Takes up all available space */
}




/* Footer Styles */
.footer {
  background-color: #1c1f24;
  color: #e1e4e8;
  padding: 40px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  border-top: 1px solid #2f363d;
}

.footer-column {
  flex: 1;
  padding: 10px;
}

.footer-logo img {
  width: 50px;
  margin-bottom: 15px;
}

.footer-column h4 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 8px;
}

.footer-column ul li a {
  color: #e1e4e8;
  text-decoration: none;
  font-size: 14px;
}

.footer-column ul li a:hover {
  color: #f0a500;
}
