{% extends "base.html" %}

{% block content %}
  <div class="home-container">
    <h1 class="home-title">Welcome to Theorem Talk</h1>
    <p class="home-description">Your platform for math Olympiad Q&A, where enthusiasts can ask questions, share solutions, and engage in meaningful discussions.</p>
    <div class="home-info">
      <h2 class="home-subtitle">Ask Questions, Share Solutions, and Engage with Others!</h2>
      <p>Join a community of like-minded math enthusiasts, and contribute your knowledge by asking insightful questions and providing solutions to challenging problems.</p>
    </div>
  </div>
{% endblock %}
