{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1>Top Questions</h1>
  
  {% if user.is_authenticated %}
    <a href="{% url 'base:question_create' %}" class="btn">Ask Question</a>
  {% else %}
    <a href="{% url 'login' %}" class="btn">Log In to Ask</a>
  {% endif %}

  <div class="list-question">
    {% for question in questions %}
      <div class="question-item">
        <h3>
          <a href="{% url 'base:question_detail' question.id %}">{{ question.title }}</a>
          {% if question.num_replies > 0 %}
            <span class="reply-count">({{ question.num_replies }} replies)</span>
          {% else %}
            <span class="reply-count">(No replies yet)</span>
          {% endif %}
        </h3>
        <p>
          {% if question.content %}
            {{ question.content|truncatewords:20 }}
          {% else %}
            No description provided.
          {% endif %}
          <a href="{% url 'base:question_detail' question.id %}">Read More</a>
        </p>
        <p>Asked by: {{ question.user.username }} on {{ question.date_created|date:"j F, Y" }}</p>
      </div>

        <!-- Delet the question -->
        <div class="delete-question">
          {% if question.user == user %}
              <a href="{% url 'base:question_delete' question.pk %}" class="btn btn-danger">Delete Question</a>
          {% endif %}
      </div>
      
    {% empty %}
      <p>No questions available yet.</p>
    {% endfor %}
  </div>
</div>
{% endblock %}
